


.navigation-right {
	
	position:absolute;
	right:0px;
	background-color:white;
	box-shadow:8px 8px 10px silver;
	width:60px;
	height:60px;
	transform:rotate(-45deg);
	transition:box-shadow .3s;
	cursor:pointer;
	display:flex;

}

.navigation-right:hover {	box-shadow:12px 12px 23px silver; }






.navigation-rightNumber {margin:auto; transform:rotate(45deg)}