.item {
	border:1px solid silver;
	padding:15px;
	margin:20px 0 20px 0;
	cursor:pointer;
	display:flex;
	flex-direction:row;
	align-items:flex-start;
	box-shadow:5px 5px 5px silver;
	transition:transform .5s;
}



.item:hover {
	box-shadow:5px 5px 5px silver;
	transform:translate(30px);
}



.item-image {
	width:130px;
	margin-right:15px;
	height:195px;
	background-color:#e4e4e4;
}


.item-title {

	font-size:1.2rem;
	margin:.5rem 0 .5rem 0;
	color:#081c24;
}


